{{#unless InstallationGuide}}
<ul>
    <li>
        <h3 class="mt-30">Check version of running Rocketpool client</h3>
        <pre><code>$ rocketpool -v</code></pre>
    </li>
</ul>
<label>Reocketpool validators service name:</label> <input type="text" class="interactive-element validator_sn" data-class="validator_sn" value="rocketpool-validator">
{{/unless}}
<ol>
    {{#if InstallationGuide}}
    <li>
        <h3 class="mt-30">Create a Rocketpool service user</h3>
        <ul>
            <li>
                <h4>Create a rocketpool service User</h4>
                <pre><code>$ sudo useradd --system --no-create-home --shell /bin/false <mark class="rocketpool_su">rocketpool</mark></code></pre>
            </li>
            <li>
                <h4>Add <code>server user</code> into <span class="rocketpool_su">rocketpool</span> group</h4>
                <pre><code>sudo usermod -aG <mark class="rocketpool_su">rocketpool</mark> <mark class="serveruser">myserveruser</mark></code></pre>
                <aside><i>Get &lt;Server user&gt; by <code>$ whoami</code>, if needed.</i></aside>
            </li>
        </ul>
    </li>
    <li>
        <h3>Create directories for Rocketpool client's data</h3>
        <ul>
            <li>
                <h4>Root folder</h4>
                <pre><code>sudo mkdir -p /srv/rocketpool</code></pre>
            </li>
            <li>
                <h4>Validators data directory with proper permissions</h4>
                <pre><code>sudo mkdir -p /srv/rocketpool/data/validators && sudo chmod 775 /srv/rocketpool/data/validators</code></pre>
            </li>
            <li>
                <h4>Reward trees Data directory</h4>
                <pre><code>sudo mkdir /srv/rocketpool/data/rewards-trees</code></pre>
            </li>
            <li>
                <h4>Custom keys Data directory</h4>
                <pre><code>sudo mkdir /srv/rocketpool/data/custom-keys</code></pre>
            </li>
            {{!--<li>Set permission on the data subdirectory
                <pre><code>sudo chown -R <span class="rocketpool_su">rocketpool</span>:<span class="rocketpool_su">rocketpool</span> /srv/rocketpool/data</code></pre>
            </li>--}}
        </ul>
    </li>
    {{/if}}
    <li>
        <h3>Download Rocketpool clients</h3>
        <p>Rocketpool clients should be downloaded from the <a href="https://github.com/rocket-pool/smartnode-install"
                target="_blank" rel="nofollow noopener noreferrer">official Rocketpool Github</a>.</p>
        <ul>
            <li>
                <h4>Download latest Rocketool client (linux-amd64 version)</h4>
                <pre><code>wget https://github.com/rocket-pool/smartnode-install/releases/latest/download/rocketpool-cli-linux-amd64 -O ~/downloads/rocketpool</code></pre>
            </li>
            <li>
                <h4>Download latest Rocketool daemon client (linux-amd64 version)</h4>
                <pre><code>wget https://github.com/rocket-pool/smartnode-install/releases/latest/download/rocketpool-daemon-linux-amd64 -O ~/downloads/rocketpoold</code></pre>
            </li>
        </ul>
    </li>
    {{#unless InstallationGuide}}
    <li>
        <h3>Stop Rocketpool services</h3>
        <ul>
            <li>If preferred, you can wait for a moment after published attestation(s)
                <pre><code>journalctl -fu <mark class="validator_sn">rocketpool-validator</mark></code></pre> </li>
            <li><h4>Stop Rocketpool services</h4>
                <pre><code>sudo systemctl stop rp-node rp-watchtower <mark class="validator_sn">rocketpool-validator</mark></code></pre>
            </li>
            <li><h4>Check state</h4>
                <pre><code>systemctl status rp-node rp-watchtower <mark class="validator_sn">rocketpool-validator</mark></code></pre>
            </li>
        </ul>
    </li>
    {{/unless}}
    <li>
        <h3 class="mt-30">Copy clients to targeted locations</h3>
        <pre><code>sudo cp rocketpool /usr/local/bin && sudo cp rocketpoold /usr/local/bin</code></pre>
    </li>
    <li>
        <h3>Set clients permissions</h3>
        <ul>
            <li><code>sudo chown <mark class="rocketpool_su">rocketpool</mark>:<mark class="rocketpool_su">rocketpool</mark> /usr/local/bin/rocketpool</code>
            </li>
            <li><code>sudo chown <mark class="rocketpool_su">rocketpool</mark>:<mark class="rocketpool_su">rocketpool</mark> /usr/local/bin/rocketpoold</code>
            </li>
            <li><code>sudo chmod +x /usr/local/bin/rocketpool</code></li>
            <li><code>sudo chmod u+sx,g+sx,o-rwx /usr/local/bin/rocketpoold</code></li>
        </ul>
    </li>
    {{#unless InstallationGuide}}
    <li>
        <h3>Start Rocketpool services</h3>
        <pre><code>sudo systemctl start rp-node rp-watchtower <mark class="validator_sn">rocketpool-validator</mark></code></pre>
    </li>
    <li>
        <h3>Check state of running</h3>
        <pre><code>systemctl status rp-node rp-watchtower <mark class="validator_sn">rocketpool-validator</mark></code></pre>
        <h4>Monitor logs</h4>
        <ul>
            <li><code>journalctl -fu rp-node.service</code></li>
            <li><code>journalctl -fu rp-watchtower.service</code></li>
            <li><code>journalctl -fu <mark class="validator_sn">rocketpool-validator</mark></code></li>
        </ul>
    </li>
    {{/unless}}
    <li>
        <h3>Remove downloaded clients files</h3>
        <pre><code>rm ~/downloads/rocketpool && rm ~/downloads/rocketpoold</code></pre>
    </li>
    {{#if InstallationGuide}}
    <li>
        <h3>Configurate Rocketpool Node service</h3>
        <ul>
            <li><h4>Define <code>rp-node.service</code> service</h4>
                <pre><code>sudo nano /etc/systemd/system/rp-node.service</code></pre>
                <p>Copy the configuration below into the <code>rp-node.service</code> service file</p>
                <pre><code>[Unit]
Description=rp-node
After=network.target

[Service]
Type=simple
User=<span class="rocketpool_su">rocketpool</span>
Restart=always
RestartSec=5
ExecStart=/usr/local/bin/rocketpoold --settings /srv/rocketpool/user-settings.yml node

[Install]
WantedBy=multi-user.target</code></pre>
                <p>Save and Exit the file by pressing <code>ctrl</code>+<code>x</code>, then <code>y</code>.</p>
            </li>
            <li><h4>Define log script for <code>rp-node.service</code></h4>
                <ul>
                    <li>Open <code>node-log.sh</code> log file
                        <pre><code>sudo nano /srv/rocketpool/node-log.sh</code></pre>
                        <p>Copy the code below into the file</p>
                        <pre><code>#!/bin/bash
journalctl -u rp-node -b -f</code></pre>
                        <p>Save and Exit the file by pressing <code>ctrl</code>+<code>x</code>, then <code>y</code>.</p>
                    </li>
                    <li>Set running permission for <code>node-log.sh</code>
                        <pre><code>sudo chmod +x /srv/rocketpool/node-log.sh</code></pre>
                        <p>Note: Log can be watched with <code>sudo /srv/rocketpool/node-log.sh</code> command</p>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        <h3 class="mt-40">Configurate Rocketpool Watchtower service</h3>
        <ul>
            <li><h4>Define <code>rp-watchtower.service</code></h4>
                <pre><code>sudo nano /etc/systemd/system/rp-watchtower.service</code></pre>
                <p>Copy the configuration below into the <code>rp-watchtower.service</code> service file</p>
                <pre><code>[Unit]
Description=rp-node
After=network.target

[Service]
Type=simple
User=<span class="rocketpool_su">rocketpool</span>
Restart=always
RestartSec=5
ExecStart=/usr/local/bin/rocketpoold --settings /srv/rocketpool/user-settings.yml watchtower

[Install]
WantedBy=multi-user.target</code></pre>
                <p>Save and Exit the file by pressing <code>ctrl</code>+<code>x</code>, then <code>y</code>.</p>
            </li>
            <li><h4>Define log script for <code>rp-watchtower.service</code></h4>
                <ul>
                    <li>Open <code>watchtower-log.sh</code> log file
                        <pre><code>sudo nano /srv/rocketpool/watchtower-log.sh</code></pre>
                        <p>Copy the code below into the file</p>
                        <pre><code>#!/bin/bash
journalctl -u rp-watchtower -b -f</code></pre>
                        <p>Save and Exit the file by pressing <code>ctrl</code>+<code>x</code>, then <code>y</code>.</p>
                    </li>
                    <li>Set running permission for <code>node-log.sh</code>
                        <pre><code>sudo chmod +x /srv/rocketpool/watchtower-log.sh</code></pre>
                        <p>Note: Log can be watched with <code>sudo /srv/rocketpool/watchtower-log.sh</code> command</p>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
    <li>
        <h3 class="mt-40">Configurate a validator service for validators controlled by Rocketpool</h3>
        <p>Validator service controlled by Rocketpol is same as Solo validator, only with Rocketpool data placed in its config file.</p>
        <div class="tabselector">
			<nav class="egrid egrid-4">
                <button class="tab selected" data-tabpanel="1">Prysm</button>
				<button class="tab" data-tabpanel="2">Lighthouse</button>
				<button class="tab" data-tabpanel="3">Lodestar</button>
				<button class="tab" data-tabpanel="4">Teku</button>
			</nav>
            <div class="tabpanel selected">
                <p><label>Validator service name</label>: <input type="text" class="interactive-element rpl_validator" data-class="rpl_validator" value="rocketpool-validator"></p>
                <p><label>Validator service direcotry</label>: <input type="text" class="interactive-element validator_snd" data-class="validator_snd" value="/var/lib/ethereum/prysm"></p>
                <ul>
                    <li><h4>Create a new rocketpool validator user</h4>
                        <pre><code>$ sudo useradd --system --no-create-home --shell /bin/false <mark class="rpl_validator">rocketpool-validator</mark></code></pre>
                    </li>
                    <li><h4>Add validator user into <code>rocketpool</code> user group</h4>
                        <pre><code>sudo usermod -aG <mark class="rocketpool_su">rocketpool</mark> <mark class="rpl_validator">rocketpool-validator</mark></code></pre>
                    </li>
                    <li><h4>Create a directory for the validator data</h4>
                        <pre><code>sudo mkdir <mark class="validator_snd">/var/lib/ethereum/prysm/<span class="rpl_validator">rocketpool-validator</span></mark></code></pre>
                    </li>
                    <li><h4>Set permissions for the directory</h4>
                        <pre><code>sudo chown -R <mark class="rpl_validator">rocketpool-validator</mark>:<mark class="rpl_validator">rocketpool-validator</mark> <mark class="validator_snd">/var/lib/ethereum/prysm/<span class="rpl_validator">rocketpool-validator</span></mark></code></pre>
                    </li>
                    <li><h4>Define <code>rocketpool-validator.service</code> file</h4>
                        <pre><code>sudo nano /etc/systemd/system/<mark class="rpl_validator">rocketpool-validator</mark>.service</code></pre>
                        <p>Copy the configuration below into the <code>prysmvalidator-rp.service</code> service file</p>
{{> clients/config/ethrpl-prysmvalidator }}
                        <p>Save and Exit the file by pressing <code>ctrl</code>+<code>x</code>, then <code>y</code>.</p>
                    </li>
                    <li><h4>Create additional directories</h4>
                        <ul>
                            <li>
                                <pre><code>sudo mkdir -p /srv/rocketpool/data/validators/prysm-non-hd/direct/accounts</code></pre>
                            </li>
                            <li>
                                <pre><code>sudo chown -R <span class="rocketpool_su">rocketpool</span>:<span class="rocketpool_su">rocketpool</span> /srv/rocketpool/data/validators/prysm-non-hd</code></pre>
                            </li>
                            <li>
                                <pre><code>sudo chmod -R 775 /srv/rocketpool/data/validators/prysm-non-hd</code></pre>
                            </li>
                        </ul>
                    </li>
                </ul>
			</div>
			<div class="tabpanel">
{{> clients/lighthouse_validator}}
			</div>
			<div class="tabpanel">
{{> clients/lodestar_validator}}
			</div>
			<div class="tabpanel">
{{> clients/teku_validator}}
			</div>
		</div>
    </li>
    <li>
        <h3 class="mt-40">Define alias for Rocketpool access</h3>
        <ul>
            <li>Open <code>~/.profile</code> file
                <pre><code>sudo nano ~/.profile</code></pre>  
            </li>
            <li>Place the code below at the end of the file
                <pre><code>alias rocketpool="rocketpool -d /usr/local/bin/rocketpoold -c /srv/rocketpool"</code></pre>
                Save and Exit the file by pressing <code>ctrl</code>+<code>x</code>, then <code>y</code>.
            </li>
            <li>Process the change
                <pre><code>source ~/.profile</code></pre>
            </li>
        </ul>
    </li>
    <li>
        <h3 class="mt-40">Configure Rocketpool companion scripts</h3>
        <p>Companion scripts allows Rocketpool client to process certain operations automatically, if necessary.</p>
        <ul>
            <li><h4>Restarting validator instance</h4>
                <ul>
                    <li>Download the companion script
                        <pre><code>sudo wget https://github.com/rocket-pool/smartnode-install/raw/release/install/scripts/restart-vc.sh -O /srv/rocketpool/restart-vc.sh</code></pre>
                    </li>
                    <li>Modify the downloaded file for your validator service
                        <p>Open the file</p>
                        <pre><code>sudo nano /srv/rocketpool/stop-validator.sh</code></pre>
                        <p>Replace <code>#sudo systemctl restart lighthouse-validator</code> at the last line for:</p>
                        <pre><code>sudo systemctl restart <mark class="rpl_validator">rocketpool-validator</mark></code></pre>
                        <p>Do not forget remove <code>#</code> at the start. Save and Exit the file by pressing
                            <code>ctrl</code>+<code>x</code>, then <code>y</code>.</p>
                    </li>
                    <li>Allow execution
                        <pre><code>sudo chmod +x /srv/rocketpool/restart-vc.sh</code></pre>
                    </li>
                </ul>
            </li>
            <li><h4>Stoping validator instance</h4>
                <ul>
                    <li>Download the companion script
                        <pre><code>sudo wget https://github.com/rocket-pool/smartnode-install/raw/release/install/scripts/stop-validator.sh -O /srv/rocketpool/stop-validator.sh</code></pre>
                    </li>
                    <li>Modify the downloaded file for your validator service
                        <p>Open the file</p>
                        <pre><code>sudo nano /srv/rocketpool/stop-validator.sh</code></pre>
                        <p>Replace <code>#sudo systemctl stop lighthouse-validator</code> at the last line for:</p>
                        <pre><code>sudo systemctl stop <mark class="rpl_validator">rocketpool-validator</mark></code></pre>
                        <p>Do not forget remove <code>#</code> at the start. Save and Exit the file by pressing
                            <code>ctrl</code>+<code>x</code>, then <code>y</code>.</p>
                    </li>
                    <li>Allow execution
                        <pre><code>sudo chmod +x /srv/rocketpool/stop-validator.sh</code></pre>
                    </li>
                </ul>
            </li>
        </ul>
        <h4>Set up passwordless access</h4>
        <ul>
            <li>Request <code>sudo visudo -f /etc/sudoers.d/rocketpool</code> to open the configuration file
                <p>Place the code below into the file</p>
                <pre><code>Cmnd_Alias RP_RESTART = /usr/bin/systemctl restart <mark class="rpl_validator">rocketpool-validator</mark>
Cmnd_Alias RP_STOP = /usr/bin/systemctl stop <mark class="rpl_validator">rocketpool-validator</mark>
<mark class="rocketpool_su">rocketpool</mark>    ALL=(ALL) NOPASSWD: RP_RESTART, RP_STOP</code></pre>
            </li>
        </ul>
    </li>
    <li>
        <h3 class="mt-40">Configurate Rocketpool native mode</h3>
        <ul>
            <li><h4>Launch service configuration tool</h4>
                <pre><code>rocketpool service config</code></pre>
                <p>And follow <a href="https://docs.rocketpool.net/guides/node/config-native.html" target="_blank" rel="nofollow noopener noreferrer">the documentation</a></p>
            </li>
            <li><h4>Reload Daemon</h4>
                <pre><code>sudo systemctl daemon-reload</code></pre> 
            </li>
            <li><h4>Start the services</h4>
                <pre><code>sudo systemctl enable rp-node rp-watchtower</code></pre>
            </li>
            <li><h4>Set automatic launch on system startup</h4>
                <pre><code>sudo systemctl start rp-node rp-watchtower</code></pre>
            </li>
        </ul>
    </li>
    <li><h3>Generate rocketpool wallet</h3>
        <p>NOTE: It's recommended to access the device locally to generate the seed</p>
        <ul>
            <li><h4>Enable access to the directory for server user</h4>
                <pre><code>sudo chown -R <mark class="serveruser">myserveruser</mark>:<mark class="serveruser">myserveruser</mark> /srv/rocketpool/data</code></pre>
            </li>
            <li>Unlink the server to the internet</li>
            <li><h4>Generate the wallet</h4>
                <pre><code>rocketpool wallet init</code></pre>
                and go through the process of generating the seed and wallet
            </li>
            <li><h4>Reboot PC</h4>
                $<code>sudo reboot</code></li>
            <li>Connect the server back to the internet</li>
            <li>Now you can safely connect over SSH again</li>
            <li><h4>Check wallet status</h4>
                <pre><code>rocketpool wallet status</code></pre>
                and copy address for an option to paste it in next step</li>
            <li><h4>Retrun permision back to <code class="rocketpool_su">rocketpool</code> user</h4>
                <pre><code>sudo chown -R <mark>rocketpool</mark>:<mark>rocketpool</mark> /srv/rocketpool/data</code></pre>
            </li>
            <li><h4>Set temporary permissions</h4>
                <ul>
                    <li>$<code>sudo usermod -aG <mark class="rocketpool_su">rocketpool</mark> <mark class="serverUser">myserveruser</mark></code></li>
                    <li>$<code>sudo usermod -aG <mark class="serverUser">myserveruser</mark> <mark class="rocketpool_su">rocketpool</mark></code></li>
                    <li>$<code>cd /srv/rocketpool/data/</code></li>
                    <li>$<code>sudo chmod g+r password</code> (temporary, it will be returned back to <code>sudo chmod 600 password</code> later)</li>
                    <li>$<code>sudo chmod g+r wallet</code> (temporary, it will be returned back to <code>sudo chmod 600 wallet</code> later)</li>
                </ul>
            </li>
        </ul>
    </li>
    <li><h3>Set UMASK, if needed</h3>
        <p>By default, your system will typically come with a umask configuration that will strip the +w bit from the
            group permissions whenever the node daemon creates a new folder. This is problematic for several consensus
            clients, because they will actually write things such as lock files or other metadata into the directories
            that the Smartnode creates when it generates new validator keys during a minipool deposit.</p>
        <p>To combat this and ensure your VC works correctly, please relax your umask settings. For example, instead of
            <code>0022</code>, you should consider setting it to <code>0002</code> for the rp user.</p>
        <p>Guide: https://www.howtogeek.com/812961/umask-linux/</p>
    </li>
    <li><h3>Choosing Distributor / Smoothing pool option</h3>
        <div class="tabselector">
            <nav class="egrid egrid-2">
                <button class="tab selected" data-tabpanel="1">Distributor</button>
                <button class="tab" data-tabpanel="2">Smoothing pool</button>
            </nav>
            <div class="tabpanel selected">
                <ul>
                    <li>$<code>rocketpool node status</code> - check fee distributor's address</li>
                    <li>$<code>rocketpool node initialize-fee-distributor</code> - fee distributor initialization</li>
                    <li>$<code>rocketpool node distribute-fees</code> - request fees distribution</li>
                </ul>
            </div>
            <div class="tabpanel">
                <ul>
                    <li>$<code>rocketpool node join-smoothing-pool</code></li>
                    <li>$<code>rocketpool node leave-smoothing-pool</code></li>
                    <li>$<code>rocketpool node claim-rewards</code></li>
                </ul>
            </div>
        </div>
    </li>
    <li><h3>Reload daemon</h3>
        <pre><code>sudo systemctl daemon-reload</code></pre>
    </li>
    <li><h3>Launch Rocketpool services</h3>
        <ul>
            <li>
                <pre><code>sudo systemctl start rp-node rp-watchtower <mark class="rpl_validator">rocketpool-validator</mark></code></pre>
            </li>
            <li><h4>Check Rocketpool services</h4>
                <pre><code>systemctl status rp-node rp-watchtower <mark class="rpl_validator">rocketpool-validator</mark></code></pre>
                <p>The VC will fail to start until you make a new Rocket Pool minipool (described later in the guides)
                    because these files won't be created until that time, but the Beacon Node will be able to sync
                    properly.</p>
            </li>
            <li><h4>Monitor services</h4>
                <pre><code>journalctl -f -u rp-node -u rp-watchtower</code></pre>
                <pre><code>journalctl -f -u <mark class="rpl_validator">rocketpool-validator</mark></code></pre>
            </li>
        </ul>
    </li>
    <li><h3>Prepare Rocketpool node</h3>
        <a href="https://docs.rocketpool.net/guides/node/prepare-node.html" target="_blank" rel="nofollow noopener noreferrer">guides/node/prepare-node</a>
        <ul>
            <li>$<code><strong>rocketpool node status</strong></code></li>
            <li>$<code>rocketpool node register</code></li>
            <li>Whitelist HW wallet for RPL staking:
                $<code>rocketpool node add-address-to-stake-rpl-whitelist &lt;wallet&gt;</code></li>
            <li>Setting Withdrawal wallet: $<code>rocketpool node set-withdrawal-address &lt;wallet&gt;</code> → <a
                    href="https://stake.rocketpool.net/withdrawal/" target="_blank"
                    rel="nofollow noopener noreferrer">https://stake.rocketpool.net/withdrawal/</a></li>
            <li>Setting your Voting Delegate Address: $<code>rocketpool node set-voting-delegate &lt;wallet&gt;</code></li>
        </ul>
    </li>
    <li><h3>Create a rocketpool validator</h3>
        <a href="https://docs.rocketpool.net/guides/node/create-validator.html" target="_blank" rel="nofollow noopener noreferrer">guides/node/create-validator</a>
        <ul>
            <li>Stake RPL - <a href="https://stake.rocketpool.net/stake-behalf" target="_blank"
                    rel="nofollow noopener noreferrer">/stake-behalf</a></li>
            <li>$<code>rocketpool node deposit</code></li>
        </ul>
    </li>
    <li><h3>Monitor</h3>
        <ul>
            <li>$<code>rocketpool node status</code></li>
            <li>$<code>journalctl -fu rp-node.service</code></li>
            <li>$<code>journalctl -fu rp-watchtower.service</code></li>
            <li>$<code>journalctl -fu prysmvalidator-rp</code></li>
        </ul>
    </li>
    <li><h3>Remove option to read wallet and password files for the group</h3>
        <ul>
            <li>$<code>cd /srv/rocketpool/data/</code></li>
            <li>$<code>sudo chmod 600 password</code></li>
            <li>$<code>sudo chmod 600 wallet</code></li>
        </ul>
    </li>
    {{/if}}
</ol>