{{> header_amp}}
<main class="grid">
	<h1 class="mt-60">Disclaimer</h1>
    <p>stakers.space is a community-driven, educational platform that provides tutorials and technical information for individuals interested in running their own staking infrastructure.</p>
    <p><strong>We are not financial advisors.</strong> None of the content provided on this site constitutes investment advice, financial guidance, or an offer to stake on your behalf.</p>
    <p>Running your own validator or staking node involves risk, including loss of funds due to misconfiguration, slashing, downtime, or security vulnerabilities.</p>
    <p><strong>By using this site, you acknowledge that you are fully responsible for your actions and any consequences that may arise.</strong></p>
    <p>If you are unsure about anything related to staking, we strongly recommend seeking independent professional advice.</p>
    <p>Articles authors nor website owner does not guarantee accuracy of the information in the guides and is not responsible for any damages or losses incurred by following informations found on this website.</p>
</main>
{{> footer_amp}}
</body>