{{> header_amp}}
<main class="max-w-4xl mx-auto px-6 lg:px-12 py-12 space-y-6">
  <h1 class="text-4xl font-bold">Knowledge sources</h1>

  <ul class="list-disc list-inside space-y-2 text-blue-700">
    <li>
      <a href="https://ethstaker.cc/" rel="nofollow noopener noreferrer" class="underline break-words">
        https://ethstaker.cc/
      </a>
    </li>
    <li>
      <a href="https://github.com/eth-educators" rel="nofollow noopener noreferrer" class="underline break-words">
        https://github.com/eth-educators
      </a>
    </li>
    <li>
      <a href="https://dvt-homestaker.stakesaurus.com/" rel="nofollow noopener noreferrer" class="underline break-words">
        https://dvt-homestaker.stakesaurus.com/
      </a>
    </li>
    <li>
      <a href="https://www.validategnosis.com/" rel="nofollow noopener noreferrer" class="underline break-words">
        https://www.validategnosis.com/
      </a>
    </li>
    <li>
      <a href="https://www.staking.directory/" rel="nofollow noopener noreferrer" class="underline break-words">
        https://www.staking.directory/
      </a>
    </li>
  </ul>
</main>
{{> footer_amp_tailwind}}
</body>
