{{> header_amp}}
<main class="container mx-auto px-6 lg:px-20 py-16 text-center">
  <h1 class="text-4xl lg:text-5xl font-bold text-gray-900 mb-6">Buy Staking Node</h1>
  <p class="text-lg text-gray-700 mb-12">Buy ready-to-use staking node.</p>

  <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
    <a href="/contact" class="bg-white shadow rounded-lg p-6 hover:shadow-lg transition flex items-center justify-center">
		<div>
			<h5 class="text-xl font-semibold text-gray-800">Tailored PC</h5>
		</div>
	</a>

    <a href="https://dappnode.com/collections/frontpage" target="_blank" rel="nofollow noopener noreferrer" class="bg-white shadow rounded-lg p-6 hover:shadow-lg transition">
      <img src="/devices/dappnode.webp" alt="Dapp Node" class="mx-auto max-w-full h-auto mb-4">
      <h5 class="text-xl font-semibold text-gray-800">DappNode</h5>
    </a>

    <a href="https://ava.do/shop/" target="_blank" rel="nofollow noopener noreferrer" class="bg-white shadow rounded-lg p-6 hover:shadow-lg transition">
      <img src="/devices/avado.jpg" alt="Avado" class="mx-auto max-w-full h-auto mb-4">
      <h5 class="text-xl font-semibold text-gray-800">Avado</h5>
    </a>
  </div>
</main>
{{> footer_amp_tailwind}}
</body>
