@layer components {
    pre {
        @apply bg-gray-800 text-green-300 font-mono text-sm p-4 m-2 rounded-xl border border-gray-700 shadow-sm overflow-x-auto
    }
    code {
        @apply bg-gray-800 px-1 rounded-xl text-sm;
        color: white;
    }
    pre code {
        padding: unset;
        font-size: unset;
        color: unset;
        background-color: unset;
        border-radius: unset;
    }
    code input {
        color: white;
        padding-block: unset;
        padding-inline: unset;
    }
    code mark {
        @apply rounded-xs;
    }
}

