@layer components {
  footer .contact {
		border-top: 1px solid #e5e5e5;
		padding-top: 1rem;
	}
	@media (max-width: 1000px) {
		footer .social {
			display: block;
			padding-top: 0.5rem;
		}
	}
	@media (min-width: 1000px) {
		footer .social {
			position: relative;
			padding-left: 14px;
		}
		footer .social:before {
			content: '|';
			position: absolute;
			top: -5px;
			left: 3px;
		}
	}
	footer .social a {
		text-decoration: none;
	}
	footer .sign {
		border-top: 1px solid #e5e5e5;
		padding-top: 0.6rem;
	}
	footer amp-img {
		top: 5px;
	}
}