.tabselector {
  display: block;
}
.tabselector nav .tab {
  @apply hover:text-emerald-600 transition cursor-pointer;
  border: none;
  flex-grow: 1;
  text-align: center;
  font-weight: unset;
  line-height: 26px;
}
.tabselector.decent nav .tab {
  @apply text-gray-500;
}

.tabselector nav .tab.selected {
  outline: none;
  cursor: auto;
  border-bottom: 2px solid black;
}
.tabselector .tabpanel {
  display: none;
  order: 1;
}
.tabselector .tabpanel.selected {
  outline: none;
  display: block;
}