.tabselector {
  display: block;
}
.tabselector nav .tab {
  border: none;
  flex-grow: 1;
  text-align: center;
  padding: 0.5rem;
  font-size: 1.15rem;
}

.tabselector nav .tab.selected {
  outline: none;
  cursor: auto;
  border-bottom: 2px solid black;
  background-color: #f6f3f4;
}
.tabselector .tabpanel {
  display: none;
  order: 1;
  padding: 2rem;
  background-color: #f6f3f4;
}
.tabselector .tabpanel.selected {
  outline: none;
  display: block;
}
.tabselector.decent .tab {
  padding: unset;
  font-weight: unset;
  font-size: unset;
  line-height: 26px;
}
.tabselector.decent nav .tab.selected {
  background-color: unset;
}

.tabselector.decent .tabpanel {
  padding: unset;
  background-color: unset;
}