<body id="body">
{{> header_dashboard}}
<main>
	<section class="grid mt-100 mb-100">
        <h1>API credentials</h1>
        <ul class="list-disc my-4">
            <li><code>Account ID</code>: <code>{{account_id}}</code></li>
            <li><code>API token</code>: <code>{{account_api_token}}</code></li>
        </ul>
        <h2 class="mt-30">API services</h2>
        <ul class="list-disc my-4">
            <li><a href="https://github.com/Stakers-space/staking-scripts/tree/main/monitor/validators_state" target="_blank">Validators state monitor through own server</a></li>
            <li><a href="https://github.com/Stakers-space/staking-scripts/tree/main/monitor/hw_sources" target="_blank">PC resources monitor</a></li>
            <li>Custom notifications sender - send any notification from your staking server(s)</li>
        </ul>
        
        <p class="mt-20">API access is charged starts at $5 per month. Contact <a href="mailto:stakersspace@proton.me">stakersspace@proton.me</a> for the offer.</p>
    </section>
</main>