<body id="body">
{{> header_dashboard}}
<main>
	<section class="grid mt-100 mb-100">
        <h1>Order Server As a Service</h1>
        <p>Order / hire a staking server placed in a server house. Contact <a href="mailto:stakersspace@proton.me">stakersspace@proton.me</a> for the offer.</p>
    </section>
</main>