<main class="mx-auto max-w-[1700px] px-5 md:px-10">
{{> header_dashboard}}
	<section class="grid gap-6 my-10">
        <h1 class="text-2xl font-semibold">Server Resources</h1>
        <div class="grid gap-6">
            {{#each resourcesByServer}}
            <div class="block rounded-lg shadow-sm p-5">
                <div class="flex items-center gap-2 mb-3">
                    <h2 class="text-lg font-semibold m-0">
                        Server {{this.[1].name}}
                    </h2>

                    {{#if this.[1].clock_sync}}
                    <span class="px-2 py-1 text-xs font-medium bg-blue-100 text-blue-800 rounded">
                        Synchronized time: {{this.[1].clock_sync}}
                    </span>
                    {{/if}}
                </div>
                <canvas id="srv_{{this.[0]}}" name="lazy-canvas" class="w-full h-full"></canvas>
            </div>
                
            {{/each}}
        </div>
    </section>
</main>
<script>
    var resourcesByServer = {{{resourcesByServerJSON}}};
</script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/chartjs-plugin-annotation/2.1.0/chartjs-plugin-annotation.min.js"></script>
<script type="text/javascript" src="/js/chart-presenter.js"></script>
<script type="text/javascript" src="/js/charts/node-monitor.js"></script>