{{> header_amp}}
{{!-- FAQ --}}
<main class="grid">
	<h1 class="mt-60">Squad Staking</h1>
	<p>Squad staking is a transformative approach to staking enabled by Obol distributed validators (DVs), allowing groups of individuals to collectively run an Ethereum validator, improving accessibility, resilience, and decentralisation.</p>
	<a href="https://squadstaking.com/" class="btn center box" target="_blank" rel="nofollow noopener noreferrer"><span><strong>Squad Staking</strong></span></a>



	<div class="egrid egrid-3 mt-60">
		<a href="/lido" class="btn center box"><span><strong>Lido</strong></span></a>
		<a href="/rocketpool" class="btn center box"><span><strong>Rocketpool</strong></span></a>
		<a href="/stakewise" class="btn center box"><span><strong>StakeWise</strong></span></a>
	</div>

	<div class="egrid egrid-2 mt-60">
		<a href="/staking" class="btn center box"><span><strong>Staking</strong></span></a>
		<a href="/liquid-staking" class="btn center box"><span><strong>Liquid Staking</strong></span></a>
		<a href="/restaking" class="btn center box"><span><strong>ReStaking</strong></span></a>
	</div>
</main>
{{> footer_amp}}
</body>