{{> header}}
<main>
	<section class="grid">
		<ul class="broadcrumbs mb-0" vocab="https://schema.org/" typeof="BreadcrumbList">
				<li property="itemListElement" typeof="ListItem">
					<a property="item" typeof="Thing" href="/"><span property="name">Stakers.space</span></a>
					<meta property="position" content="1">
				</li>
				<li property="itemListElement" typeof="ListItem">
					<a property="item" typeof="Thing" href="/chains"><span property="name">Chains</span></a>
					<meta property="position" content="2">
				</li>
			</ul>
			<h1 class="cover-title mt-0">Chains</h1>
		<div class="egrid egrid-2 gap-4">
			<article style="background: #f3f3f3;
        border-radius: 1rem;
        margin-bottom: 20px;margin-top:20px;
        padding: 15px;">
				<a href="/ethereum-staking" class="flex items-center gap-6 mb-10">
					<img src="/logo/ethereum.svg" alt="Ethereum logo" height="58" width="58">
					<h2 class="mt-10">Ethereum</h2>
				</a>
				<div>
					<h3>Generalized Layer 2s</h3>
					<ul class="flex flex-wrap gap-2 clean">
						<li>
							<a href="https://arbitrum.io/" target="_blank" rel="nofollow noopener" class="label inline-block rounded-lg border px-5 py-3 text-center leading-none">
								Arbitrum One
							</a>
						</li>
						<li>
							<a href="https://www.optimism.io/" target="_blank" rel="nofollow noopener" class="label inline-block rounded-lg border px-5 py-3 text-center leading-none">
								Optimism
							</a>
						</li>
						<li>
							<a href="https://zksync.io/" target="_blank" rel="nofollow noopener" class="label inline-block rounded-lg border px-5 py-3 text-center leading-none">
								ZKsync
							</a>
						</li>
						<li>
							<a href="https://www.base.org/" target="_blank" rel="nofollow noopener" class="label inline-block rounded-lg border px-5 py-3 text-center leading-none">
								Base
							</a>
						</li>
						<li>
							<a href="https://www.starknet.io/" target="_blank" rel="nofollow noopener" class="label inline-block rounded-lg border px-5 py-3 text-center leading-none">
								Starknet
							</a>
						</li>
						<li>
							<a href="https://boba.network/" target="_blank" rel="nofollow noopener" class="label inline-block rounded-lg border px-5 py-3 text-center leading-none">
								BOBA Network
							</a>
						</li>
						<li>
							<a href="https://fuel.network/" target="_blank" rel="nofollow noopener" class="label inline-block rounded-lg border px-5 py-3 text-center leading-none">
								Fuel
							</a>
						</li>
              		</ul>
				</div>
				<div>
					<h3>Application specific layer 2s</h3>
					<ul class="flex flex-wrap gap-2 clean">
						<li>
							<a href="https://loopring.org/" target="_blank" rel="nofollow noopener" class="label inline-block rounded-lg border px-5 py-3 text-center leading-none">
								Loopring
							</a>
						</li>
						<li>
							<a href="https://zks.app/" target="_blank" rel="nofollow noopener" class="label inline-block rounded-lg border px-5 py-3 text-center leading-none">
								ZKSpace
							</a>
						</li>
						<li>
							<a href="https://aztec.network/" target="_blank" rel="nofollow noopener" class="label inline-block rounded-lg border px-5 py-3 text-center leading-none">
								Aztec
							</a>
						</li>
					</ul>
				</div>
			</article>
			<article style="background: #f3f3f3;
        border-radius: 1rem;
        margin-bottom: 20px;margin-top:20px;
        padding: 15px;">
				<a href="/gnosis-staking" class="flex items-center gap-6 mb-10">
					<img src="/logo/gnosis.svg" alt="Fnosis logo" height="58" width="58">
					<h2 class="mt-10">Gnosis</h2>
				</a>
				<div>
					<h3>Protected products</h3>
					<ul class="flex flex-wrap gap-2 clean">
						<li>
							<a href="https://gnosispay.com/" target="_blank" rel="nofollow noopener" class="label inline-block rounded-lg border px-5 py-3 text-center leading-none">
								Gnosis Pay
							</a>
						</li>
					</ul>
				</div>
			</article>
			
		</div>
	</section>
	{{!--
	<section class="grid">
		<div class="egrid egrid-2 gap-4">
			<div style="background: #f3f3f3;
        border-radius: 1rem;
        margin-bottom: 20px;margin-top:20px;
        padding: 15px;">
				<h2><a href="https://solana.com/" target="_blank" rel="nofollow noopener noreferrer">Solana</a></h2>
			</div>
			<div style="background: #f3f3f3;
        border-radius: 1rem;
        margin-bottom: 20px;margin-top:20px;
        padding: 15px;">
				<h2><a href="https://cardano.org/" target="_blank" rel="nofollow noopener noreferrer">Cardano</a></h2>
			</div>
			<div style="background: #f3f3f3;
        border-radius: 1rem;
        margin-bottom: 20px;margin-top:20px;
        padding: 15px;">
				<h2><a href="https://tezos.com/" target="_blank" rel="nofollow noopener noreferrer">Tezos</a></h2>
			</div>
			<div style="background: #f3f3f3;
        border-radius: 1rem;
        margin-bottom: 20px;margin-top:20px;
        padding: 15px;">
				<h2><a href="https://near.org/" target="_blank" rel="nofollow noopener noreferrer">Near</a></h2>
			</div>
		</div>
	</section>
	--}}
</main>
{{> footer_amp}}
</body>