{{> header_amp}}
<main class="grid">
	<h1 class="mt-60">Cloud Node</h1>
	<p>Avoid a need of buying staking hardware and running it from own location - rent suitable hardware placed in private server houses.</p>

	<h2>Sample offers</h2>
	<div class="egrid egrid-2">
		<div>
			<ul>
				<li>Case: ASUS NUC</li>
				<li>CPU: Intel Core i5 gen 13 and above</li>
				<li>SSD: VNMe 2TB</li>
				<li>RAM: 32GB</li>
				<li>Connection: starting at 1000 Mbps, shared</li>
				<li>Electricity and monitoring included</li>
			</ul>
			<p>Cost: $200 / month</p>
		</div>
		<div>
			<ul>
				<li>Case: ASUS NUC</li>
				<li>CPU: Intel Core i7 gen 13 and above</li>
				<li>SSD: VNMe 4TB</li>
				<li>RAM: 64GB</li>
				<li>Connection: starting at 1000 Mbps, shared</li>
				<li>Electricity and monitoring included</li>
			</ul>
			<p>Cost: $300 / month</p>
		</div>
	</div>
	
	<h3>Contact us for tailored offer</h3>
	<a href="mailto:stakersspace@proton.me">stakersspace@proton.me</a>
</main>
{{> footer_amp}}
</body>