<body id="body" data-amp-auto-lightbox-disable>
{{> header_amp}}
<main class="mb-80">
	<section class="cover grid">
		<h1 class="title-section">Contact</h1>
		<div>
			<a href="mailto:stakersspace@proton.me">stakersspace@proton.me</a>
		</div>
	</section>
</main>
{{> footer_amp}}
</body>