{{> header_amp}}
<main class="grid text-center">
	<h1 class="mt-60">Build Custom Node</h1>
	<p>Buid your custom node.</p>
	<p>Stake from home, server house or cloud.</p>
	<h2 class="mt-30">Ethereum Staking</h2>
	<div class="egrid egrid-3">
		<a href="/ethereum-staking/full-guide" class="btn center box">Operate Execution and consensus layer</a>
		<div class="egrid">
			<a href="/ethereum-staking/full-guide/solo" class="center text-center box solo">
				<div class="mt-25">
					<img src="/logo/ethereum.svg" alt="Ethereum logo" style="width:40px;">
					<h5>Solo Staking node</h5>
				</div>
			</a>
			<a href="/ethereum-staking/full-guide/rocketpool" class="center text-center box solo">
				<div class="mt-25">
					<img src="/logo/rocketpool.webp" alt="" style="width:40px;">
					<h5>Rocketpool Staking node</h5>
				</div>
			</a>
		</div>
		<div class="egrid">
			<a href="/ethereum-staking/full-guide/stakewise" class="center text-center box solo">
				<div class="mt-25">
					<img src="/logo/stakewise.svg" alt="" style="width:40px;">
					<h5>Stakewise Staking node</h5>
				</div>
			</a>
			<a href="/ethereum-staking/full-guide/lido" class="center text-center box solo">
				<div class="mt-25">
					<img src="/logo/lido.png" alt="" style="width:40px;">
					<h5>Lido Staking node</h5>
				</div>
			</a>
		</div>
	</div>

	<h2 class="mt-60">Gnosis Staking</h2>
	<div class="egrid egrid-3 mb-60">
		<a href="/gnosis-staking/full-guide" class="btn center box">Operate Execution and consensus layer</a>

		<a href="/gnosis-staking/full-guide/solo" class="center text-center box solo">
			<div class="mt-25">
				<img src="/logo/gnosis.svg" alt="Ethereum logo" style="width:40px;">
				<h5>Solo Staking node</h5>
			</div>
		</a>
		<a href="/gnosis-staking/full-guide/stakewise" class="center text-center box solo">
			<div class="mt-25">
				<img src="/logo/stakewise.svg" alt="" style="width:40px;">
				<h5>Stakewise Staking node</h5>
			</div>
		</a>
	</div>
</main>
{{> footer_amp}}
</body>