{{> header_amp}}
<main class="grid">
	<h1 class="mt-60">Knowledge sources</h1>
	<ul>
		<li><a href="https://ethstaker.cc/" rel="nofollow noopener noreferrer">https://ethstaker.cc/</a></li>
		<li><a href="https://github.com/eth-educators" rel="nofollow noopener noreferrer">https://github.com/eth-educators</a></li>
		<li><a href="https://dvt-homestaker.stakesaurus.com/" rel="nofollow noopener noreferrer">https://dvt-homestaker.stakesaurus.com/</a></li>
		<li><a href="https://www.validategnosis.com/" rel="nofollow noopener noreferrer">https://www.validategnosis.com/</a></li>
		<li><a href="https://www.staking.directory/" rel="nofollow noopener noreferrer">https://www.staking.directory/</a></li>
	</ul>
</main>
{{> footer_amp}}
</body>