{{> header_amp}}
<main class="grid">
	<h1 class="mt-60">Managed Node</h1>
	<p>Stake on own physical staking node loacated at your home, server house or cloud.</p>
	<p>Don't worry about building, configuring and running - order a management service.</p>
	<a href="mailto:stakersspace@proton.me">stakersspace@proton.me</a>
</main>
{{> footer_amp}}
</body>