{{> header_amp}}
<main class="grid">
	<h1 class="mt-60">Pricing</h1>
	<p>Stakers.space is an <a href="https://github.com/Stakers-space/Web" target="_blank">open-source</a> platform designed to provide valuable guides, tools, and information on staking, the process of securing networks that run on public ledgers protected by the Proof of Stake (POS) mechanism.</p>
	<h2 class="mt-60">Stakers.space Website</h2>
	<p><strong>Access to and use of the website’s content is completely free.</strong> Open-source resources can be used at no cost for personal purposes.</p>
	<h2 class="mt-60">Stakers.space Account / Dashboard</h2>
	<p>For personalized guides and access to additional tools, <strong>a Stakers.space account offers free trial for the period of the first 30 days and then is available under a fee starting at $129 per year. The subscription unlocks tailored instructions, validator monitoring, alerts and exclusive features. It's applied to manager accounts only (= node operators)</strong>, clien-based accounts are always available for free.</p>
	<h2 class="mt-60">Stakers.space API</h2>
	<p>The Stakers.space API is available on a credit-based system. Credits are consumed based on interactions with the Stakers.space server, offering flexible and scalable access to the platform’s resources.</p>
	<h2 class="mt-60">Liquid staking through Stakers.space Vaults</h2>
	<p>Fee of using Stakers.space operated vaults is promoted in each Vault prospect.</p>

	<h2 class="mt-60">Using <a href="/ethereum-staking/smoothing-pool">Smoothing pool</a></h2>
	<p>Fee of using Stakers.space smoothing pool will be part of the Smoothing pool presentation page.</p>

	<h2 class="mt-60">Tailored tools development</h2>
	<p>We offer development of various tools around staking. Price is calculated based on the project scale and specification. Contact us at <a href="mailto:stakersspace@proton.me">stakersspace@proton.me</a> for more info.</p>
</main>
{{> footer_amp}}
</body>