{{> header_amp}}
<main class="grid text-center">
	<h1 class="mt-60">Buy Staking node</h1>
	<p>Buy ready-to-use staking node.</p>
	
	<div class="egrid egrid-3">
		<a href="/contact" class="center text-center box">
			<div class="mt-25">
				<h5>Tailored PC</h5>
			</div>
		</a>
		<a href="https://dappnode.com/collections/frontpage" class="center text-center box" target="_blank" rel="nofollow noopener noreferrer">
			<div class="mt-25">
				<img src="/devices/dappnode.webp" alt="Dapp Node" width="100%">
				<h5>DappNode</h5>
			</div>
		</a>
		<a href="https://ava.do/shop/" class="center text-center box" target="_blank" rel="nofollow noopener noreferrer">
			<div class="mt-25">
				<img src="/devices/avado.jpg" alt="Avado" width="100%">
				<h5>Avado</h5>
			</div>
		</a>
	</div>
</main>
{{> footer_amp}}
</body>