{{> header_amp}}
{{!-- FAQ --}}
<main class="grid">
	<h1 class="mt-60">Staking</h1>
	{{!-- https://www.coinbase.com/learn/crypto-basics/what-is-staking --}}

	<h2>What is staking?</h2>
	<p>In PoS networks, assets are committed to the network’s security infrastructure through a process known as staking. Stakers lock their assets with a validator node on the network, where the security level of the network depends on the number of active validators, the percentage of the total circulating tokens that are staked, and how these tokens are spread across active validators.</p>

	<p>Staking is a fundamental process in blockchain networks, particularly those utilizing Proof of Stake (PoS) consensus mechanisms. It involves participants committing their cryptocurrency holdings to support network operations, such as transaction validation and block creation. In return, stakers earn rewards, typically in the form of additional cryptocurrency.</p>

	<h2>How Does Staking Work?</h2>
	<p>In PoS networks, validators are selected to confirm transactions and create new blocks based on the number of tokens they have staked. By locking up their assets, validators contribute to the network's security and efficiency.</p>
	<h2>Key Benefits of Staking</h2>
	<ul>
		<li><strong>Earning Rewards</strong>: Stakers receive compensation for their participation, providing a source of income.</li>
		<li><strong>Network Security</strong>: Staking enhances the security and decentralization of the blockchain.</li>
		<li><strong>Energy Efficiency</strong>: PoS networks are generally more energy-efficient compared to Proof of Work (PoW) systems.</li>
	</ul>
	<h2>Potential Downsides</h2>
	<ul>
		<li><strong>Lock-Up Periods</strong>: Staked assets are often locked for a specific duration / withdrawal time, limiting liquidity.</li>
		<li><strong>Market Volatility</strong>: The value of staked tokens can fluctuate, affecting the overall returns.</li>
		<li><strong>Slashing Risks</strong>: Validators may face penalties or even <a href="/slashing">slashing</a>, for malicious behavior or technical failures.</li>
	</ul>
	<p>Staking offers a way to earn rewards while contributing to the network's health. However, it's essential to understand the associated risks and lock-up periods before participating.</p>

	<h2 class="mt-60 mb-0">Staking Options</h2>
	<div class="egrid egrid-2 separator-horizontal separator-after">
		<a href="/liquid-staking" class="btn center box"><span><strong>Liquid Staking</strong></span></a>
		<a href="/restaking" class="btn center box"><span><strong>ReStaking</strong></span></a>
	</div>

	<div>
		<h2 class="mt-30 mb-0">Chains</h2>
		<div class="egrid egrid-2">
			<a href="/ethereum-staking" class="center text-center box">
				<div class="mt-25">
					<amp-img
					alt="Ethereum Logo"
					src="/logo/ethereum.svg"
					width="58"
					height="58"
					layout="fixed"
					>
					</amp-img>
					<h5>Ethereum Staking</h5>
				</div>
			</a>
			<a href="/gnosis-staking" class="center text-center box">
				<div class="mt-25">
					<amp-img
					alt="Gnosis Logo"
					src="/logo/gnosis.svg"
					width="58"
					height="58"
					layout="fixed"
					>
					</amp-img>
					<h5>Gnosis Staking</h5>
				</div>
			</a>
		</div>
	</div>
</main>
{{> footer_amp}}
</body>