<body id="body" data-amp-auto-lightbox-disable>
{{> header_amp}}
<main class="grid mb-60">
	<ul class="broadcrumbs" vocab="https://schema.org/" typeof="BreadcrumbList">
		<li property="itemListElement" typeof="ListItem">
			<a property="item" typeof="Thing" href="/"><span property="name">Stakers.space</span></a>
			<meta property="position" content="1">
		</li>
		<li property="itemListElement" typeof="ListItem">
			<a property="item" typeof="Thing" href="/tools"><span property="name">Tools</span></a>
			<meta property="position" content="2">
		</li>
	</ul>
	<h1>Tools</h1>
	<div class="egrid egrid-3">
		<div class="box center">
			<a href="https://github.com/Stakers-space/staking-scripts/tree/main/manager" target="_blank"><h4>Staking Manager</h4></a>
		</div>
	</div>

	<h2 class="mt-60">Monitors</h2>
	<div class="egrid egrid-3">
		<div class="box center">
			<a href="https://github.com/Stakers-space/staking-scripts/tree/main/monitor/service_log" target="_blank"><h4>Service monitor</h4></a>
		</div>
		<div class="box center">
			<a href="https://github.com/Stakers-space/staking-scripts/tree/main/monitor/validators_state" target="_blank"><h4>Validators monitor</h4></a>
		</div>
		<div class="box center">
			<a href="https://github.com/Stakers-space/staking-scripts/tree/main/monitor/node_state_snapshots" target="_blank"><h4>Node monitor</h4></a>
		</div>
	</div>

	<h2 class="mt-60">Utils</h2>
	<div class="egrid egrid-3">
		<div class="box center">
			<a href="https://github.com/Stakers-space/staking-scripts/tree/main/utils/start_with_delay" target="_blank"><h4>Start with delay</h4></a>
		</div>
		<div class="box center">
			<a href="https://github.com/Stakers-space/staking-scripts/tree/main/utils/update-and-restart-linux" target="_blank"><h4>Update and Restart Linux</h4></a>
		</div>
	</div>
</main>
{{> footer_amp}}
</body>