<body id="body" data-amp-auto-lightbox-disable>
{{> header_amp}}
<main class="mb-80">
	<section class="cover grid">
		<h1 class="title-section">VPNs</h1>
		
		<h2>VPNs for hiding node IP</h2>
		<p>There are multiple services that providing VPN servers to use. Below you can find 3 of them. Choose the one of your preference and install it according to corresponding guide.</p>
		<table>
			<thead>
				<tr>
					<th></th>
					<th>Mullvad VPN</th>
					<th>Proton VPN</th>
					<th>Nord VPN</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th>Payment options</th>
					<td><strong>Crypto</strong>, <strong>Cash</strong>, Credit/Debit card, bank Wire, ...</td>
					<td><strong><a href="https://protonvpn.com/support/vpn-bitcoin-payments" target="_blank" rel="nofollow noopener noreferrer">Bitcoin</a></strong>, <strong>Cash</strong>, Credit/Debit card, PayPal</td>
					<td><strong>Crypto*</strong>, Credit/Debit card, PayPal</td>
				</tr>
				<tr>
					<th>Allows Full anonymity</th>
					<td>Yes</td>
					<td>Yes</td>
					<td>Partly, it requires "your" personal address during billing</td>
				</tr>
				<tr>
					<th>Servers</th>
					<td><a href="https://mullvad.net/en/servers" target="_blank" rel="nofollow noopener noreferrer">https://mullvad.net/en/servers</a></td>
					<td><a href="https://protonvpn.com/vpn-servers" target="_blank" rel="nofollow noopener noreferrer">https://protonvpn.com/vpn-servers</a></td>
					<td><a href="https://nordvpn.com/servers/" target="_blank" rel="nofollow noopener noreferrer">https://nordvpn.com/servers/</a></td>
				</tr>
				<tr>
					<th>Price</th>
					<td><a href="https://mullvad.net/en/pricing" target="_blank" rel="nofollow noopener noreferrer">https://mullvad.net/en/pricing</a></td>
					<td><a href="https://protonvpn.com/pricing" target="_blank" rel="nofollow noopener noreferrer">https://protonvpn.com/pricing</a></td>
					<td><a href="https://nordvpn.com/pricing/" target="_blank" rel="nofollow noopener noreferrer">https://nordvpn.com/pricing/</a></td>
				</tr>
				<tr>
					<td></td>
					<td><a href="https://vrealmatic.com/ubuntu-server/mullvad-vpn" target="_blank" rel="nofollow noopener noreferrer" class="btn btn-black">Install</a></td>
					<td><a href="https://vrealmatic.com/ubuntu-server/proton-vpn" target="_blank" rel="nofollow noopener noreferrer" class="btn btn-black">Install</a></td>
					<td><a href="https://nordvpn.com/download/linux/" target="_blank" rel="nofollow noopener noreferrer" class="btn btn-black">Install</a></td>
				</tr>
			</tbody>
		</table>

		<h2 class="mt-60">VPNs for remote connection</h2>
		<p>VPNs below allow remote connection to your staking node. It can be used if the node is not behind public IP.</p>
		<div class="egrid egrid-2">
			<a href="https://github.com/Stakers-space/staking-scripts/tree/main/mullvad/enable_tailscale" class="btn center box" target="_blank"><span><strong>TailScale VPN (With Mullvad)</strong></span></a>
		</div>
	</section>
</main>
{{> footer_amp}}
</body>