<body id="body" data-amp-auto-lightbox-disable>
{{> header_amp}}
<main class="mb-80">
	<section class="cover grid">
		<h1 class="title-section">VPNs</h1>
		<div class="egrid egrid-2">
			<a href="https://vrealmatic.com/ubuntu-server/mullvad-vpn" class="btn center box" target="_blank"><span><strong>Mullvad VPN</strong></span></a>
			<a href="https://github.com/Stakers-space/staking-scripts/tree/main/mullvad/enable_tailscale" class="btn center box" target="_blank"><span><strong>TailScale VPN</strong></span></a>
		</div>
	</section>
</main>
{{> footer_amp}}
</body>