<p>Before copying, create following directory for keystores on your staking machine</p>
<pre><code>mkdir -p $HOME/keystores</code></pre>
<p>Copy your keystores to <code>$HOME/keystores</code> on your staking machine.</p>
<div class="tabselector">
	<nav class="egrid egrid-2">
		<button class="tab selected" data-tabpanel="1">From USB Stick</button>
		<button class="tab" data-tabpanel="2">Over SCP (SSH)</button>
	</nav>
	<div class="tabpanel selected">
		<ol>
			<li>Create a directory for your USB stick (if not created yet)
				<pre><code>sudo mkdir /media/usb</code></pre>
			</li>
			<li>Mount USB stick to <code>/media/usb</code> directory
				<pre><code>sudo mount -t vfat /dev/sda1 /media/usb -o uid=1000</code></pre>
			</li>
			<li>Copy keystores from <code>/media/usb/<mark class="keystores-folder">deposit_keys</mark></code> to <code>$HOME/keystores</code>
				<br><label>Folder with keystores to copy</label>: <input type="text" class="interactive-element keystores-folder" data-class="keystores-folder" value="deposit_keys">
				<pre><code>cp -r /media/usb/<mark class="keystores-folder">deposit_keys</mark> ~/keystores</code></pre>
			</li>
			<li>Umount USB stick
				<pre><code>sudo umount /media/usb</code></pre>
			</li>
		</ol>
	</div>
	<div class="tabpanel">
		<p><code>scp</code> can be only used if you have access to your staking machine over <code>ssh</code>, see <a href="#">securing ssh</a> chapter.</p>
		<p>on MacOS / Linux Terminal, from the directory with <code><mark class="keystores-directory">deposit_keys</mark></code> folder, run the following command:</p>
		<br><label>Path into directory with keystores</label>: <input type="text" class="interactive-element keystores-directory" data-class="keystores-directory" value="deposit_keys">
		<pre><code>scp -P <code class="sshPort">SSHport</code> -i ~/.ssh/&lt;SSHprivateKEY&gt; -r <mark class="keystores-directory">deposit_keys</mark> <mark class="serverUser">myserveruser</mark>@&lt;IP&gt;:~/keystores</code></pre>
	</div>
</div>