<footer>
	<section class="grid mt-60">
		{{!--<h2>Follow Stakers.space</h2>--}}
		<div class="egrid mt-20 contact">
			<div>
				<strong>Contact:</strong> <a href="mailto:stakersspace@proton.me">stakersspace@proton.me</a>
				<span class="social">Social media: 
					<a href="https://x.com/StakersSpace" target="_blank" rel="nofollow noopener noreferrer"><img src="/img/icons/x.png" alt="X.com" width="20" title="X / (Former Twitter)" loading="lazy"></a> | 
					<a href="https://www.reddit.com/r/stakersspace" target="_blank" rel="nofollow noopener noreferrer" title="Reddit"><img src="/img/icons/reddit.png" alt="reddit.com" width="20" loading="lazy"></a> | 
					<a href="https://discord.gg/RMyEwQEVKE" target="_blank" rel="nofollow noopener noreferrer" title="Discord"><img src="/img/icons/discord.png" alt="Discord" width="20" loading="lazy"></a>
				</span> | 
				<a href="/privacy-policy">Privacy Policy</a> | 
				<a href="/terms-and-conditions">Terms & Conditions</a> | 
				<a href="/disclaimer">Disclaimer</a>
			</div>
		</div>
	</section>
	<section class="grid text-center">
		<p class="sign">© 2025, Stakers.space | The website is <a href="https://github.com/Stakers-space" target="_blank">Open-sourced</a> <img src="/img/icons/github.svg" alt="Stakers.space GitHub" width="20" loading="lazy">, designed for option to <a href="https://github.com/Stakers-space/web" target="_blank">download it and run locally or in free Azure webapp service</a>.</p>
	</section>
</footer>