<footer>
	<section class="grid mt-60">
		{{!--<h2>Follow Stakers.space</h2>--}}
		<div class="egrid mt-20 contact">
			<div>
				<strong>Contact:</strong> <a href="mailto:stakersspace@proton.me">stakersspace@proton.me</a>
				<span class="social">Social media: 
					<a href="https://x.com/StakersSpace" target="_blank" rel="nofollow noopener noreferrer">
						<amp-img
							alt="X / (Former Twitter)"
							src="/img/icons/x.png"
							width="20"
							height="20"
							layout="fixed"
							>
							</amp-img>
					</a> | 
					<a href="https://www.reddit.com/r/stakersspace" target="_blank" rel="nofollow noopener noreferrer" title="Reddit">
						<amp-img
							alt="reddit.com"
							src="/img/icons/reddit.png"
							width="20"
							height="20"
							layout="fixed">
							</amp-img>
					</a> | 
					<a href="https://discord.gg/RMyEwQEVKE" target="_blank" rel="nofollow noopener noreferrer" title="Discord">
						<amp-img
							alt="Discord"
							src="/img/icons/discord.png"
							width="20"
							height="20"
							layout="fixed">
							</amp-img>
					</a>
				</span> | 
				<a href="/privacy-policy">Privacy Policy</a> | 
				<a href="/terms-and-conditions">Terms & Conditions</a> | 
				<a href="/disclaimer">Disclaimer</a>
			</div>
		</div>
	</section>
	<section class="grid text-center">
		<p class="sign">© 2025, Stakers.space | The website is <a href="https://github.com/Stakers-space" target="_blank">Open-sourced</a> <amp-img
							alt="Stakers.space github"
							src="/img/icons/github.svg"
							width="20"
							height="20"
							layout="fixed"
							>
							</amp-img>, designed for option to <a href="https://github.com/Stakers-space/web" target="_blank">download it and run locally or in free Azure webapp service</a>.</p>
	</section>
</footer>