<header id="header" class="h grid egrid">
	<a href="/dashboard" class="h-logo">Stakers.space <span>Dashboard</span></a>
	<div style="text-align:right;">
		<a href="/dashboard/authentization/logout" class="h-dashboard btn">Logout</a>
		<a href="/" class="h-dashboard btn btn-black btn-rounded">Web</a>
	</div>
</header>