<header id="header" class="h grid egrid">
	<a href="/dashboard" class="h-logo">Stakers.space <span>Dashboard</span></a>
	<div class="text-right space-x-2">
		<a href="/dashboard/authentization/logout" class="h-dashboard inline-flex items-center rounded-lg bg-black text-white px-4 py-2 hover:opacity-90">Logout</a>
		<a href="/" class="h-dashboard btn">Web</a>
	</div>
</header>