<div class="text-center mb-20">
    <div><label for="decryption-passwords">Applied client-side encryption password(s)</label>: <span id="decryption-passwords"></span></div>
    <div><label for="decryption-password">Decrypt with a new password</label>: <input type="text" placeholder="Encryption password" id="decryption-password">
        <button class="submit btn btn-black btn-rounded" data-decrypt="all" class="cryptography_decrypt" onclick="DecryptPageData()" id="mainDecryptBtn">Decrypt</button>
    </div>
    {{#if isDemoAccount}}<p style="color: #fba300;" class="f-bold">Place Encryption passwords <code>demo</code> and <code>demo1</code> to decrypt all data</p>{{/if}}
</div>