<script type="text/javascript">
// Clickjack protection
if(self!==top){
    document.body.innerHTML = "<h1>Guard</h1><p>Access rejected to prevent Clickjack / UI redress attack.</p>";
    top.location=self.location;
}
</script>