{{> header}}
<section class="grid grid-cols-1 md:grid-cols-[67fr_33fr] gap-8 p-8">
	<div class="mx-auto md:px-6 md:py-16">
		<ul class="broadcrumbs" vocab="https://schema.org/" typeof="BreadcrumbList">
				<li property="itemListElement" typeof="ListItem">
					<a property="item" typeof="Thing" href="/"><span property="name">Stakers.space</span></a>
					<meta property="position" content="1">
				</li>
				<li property="itemListElement" typeof="ListItem">
					<a property="item" typeof="Thing" href="/{{chainUrl}}"><span property="name">{{chainName}} staking</span></a>
					<meta property="position" content="2">
				</li>
				<li property="itemListElement" typeof="ListItem">
					<a property="item" typeof="Thing" href="/{{chainUrl}}/validator-actions"><span property="name" class="intro-label">Validator Actions</span></a>
					<meta property="position" content="3">
				</li>
			</ul>
		<h1 class="text-4xl md:text-5xl font-extrabold text-gray-900 leading-tight mb-4">
			<span class="block mt-1 text-green-600">Validator actions when staking {{chainName}}</span> Actions you can perform
		</h1>
		<p class="text-lg md:text-xl text-gray-700 leading-relaxed max-w-3xl">
			{{#ifEqual chain "ethereum"}}For Ethereum Staking, your one-stop place for doing validator actions is <a href="https://launchpad.ethereum.org/en/validator-actions" target="_blank" rel="nofollow noopener">Validator actions section on Ethereum Launchpad, see https://launchpad.ethereum.org/en/validator-actions</a>.{{/ifEqual}}
		</p>

	</div>
	<div class="flex items-center justify-center md:pl-10 text-sm text-gray-600">
		<div class="md:max-w-xs bg-gray-50 p-6 rounded-xl shadow-md">
			<h3 class="font-semibold mb-1">Disclaimer</h3>
			<p>
				This guide is for informational purposes only. The author nor website owner does not guarantee accuracy of the information in this guide and is not responsible for any damages or losses incurred by following the guide. <a href="/disclaimer" target="_blank">See more.</a>
			</p>
		</div>
	</div>
</section>

<div class="ifr-grid grid-cols-1 xl:grid-cols-[minmax(220px,1fr)_minmax(0,6fr)_minmax(240px,1fr)] gap-6">
	<aside class="ifr-nav lg:mt-14">
		<nav class="border-l-4 border-gray-500 pl-6">
			<p class="font-semibold mb-2">Navigation</p>
			<ul class="list-disc my-4">
                        <li><a href="#wallet-upgrade">Wallet Upgrade</a>
                            <ul class="list-disc my-4">
                                <li>From 0x00 to 0x01 (Attach withdrawal credential to validator keys)</li>
                                <li><a href="#upgrade-to-compounding">From 0x01 to 0x02 (Switch from standard validator to compounding validator)</a></li>
                            </ul>
                        </li>
                        <li><a href="#add-funds">Add funds to validator</a></li>
                        <li><a href="#partial-withdrawal">Request partial withdrawal</a></li>
                        <li><a href="#merge-validators">Nerge validators</a>
                            <ul class="list-disc my-4">
                                <li>Absorb another validator</li>
                                <li>Migrate funds</li>
                            </ul>
                        </li>
                        <li><a href="#exit-validator">Exit validator</a></li>
                    </ul>
		</nav>
	</aside>

	<main class="ifr-body prose prose-lg" id="setup">
        <section id="wallet-upgrade" class="mb-20 max-w-6xl mx-auto px-4">
				<h2 class="mt-4 text-3xl md:text-4xl font-extrabold tracking-tight text-gray-900">
					Wallet upgrade
				</h2>
                <p>Wallet type can be found through a <a href="{{#ifEqual chain "ethereum"}}https://beaconcha.in/{{/ifEqual}}{{#ifEqual chain "gnosis"}}https://gnosischa.in/{{/ifEqual}}">Chain explorer</a>. Just find your validator key and check the <code>Withdrawal Address</code> at <code>Deposits</code> tab of your validator keys detail. There are 3 available withdrawal wallet states, recognizable through first 3 letter of the withdrawal credentials:</p>
                <ul class="list-disc my-4">
                    <li><code>0x00</code> - <strong>Standard validator with {{#ifEqual chain "ethereum"}}32 ETH{{/ifEqual}}{{#ifEqual chain "gnosis"}}1 GNO{{/ifEqual}} maximum stake</strong></strong> - no withdrawal credentials attached to the validator key. This is the default state of the validator key, if no withdrawal wallet was set during key generation</li>
                    <li><code>0x01</code> - <strong>Standard validator with {{#ifEqual chain "ethereum"}}32 ETH{{/ifEqual}}{{#ifEqual chain "gnosis"}}1 GNO{{/ifEqual}} maximum stake</strong> and withdrawal wallet attached. Staking rewards are distributed automatically to the withdrawal wallet {{#ifEqual chain "gnosis"}}withdrawn based on request{{/ifEqual}}.</li>
                    <li><code>0x02</code> - <strong>Compounding validator with {{#ifEqual chain "ethereum"}}ETH stake between 32 and 2048{{/ifEqual}}{{#ifEqual chain "gnosis"}}GNO stake between 1 and 64{{/ifEqual}}</strong>. Staking rewards are withdrawed <a href="#partial-request">based on request</a>.</li>
                </ul>

                <h3 class="mt-10">How to swith wallet state?</h3>
                <p>There is possible only to upgrade the wallet. Downgroad is not possible.</p>
                <ul class="list-disc my-4 pl-6 space-y-4">
                    <li>Upgrade from <code>0x00</code> to <code>0x01</code> can be processed through validator key generation tool.</li>
                    <li>Upgrade from <code>0x01</code> to <code>0x02</code> can be processed through 
                    {{#if isEthereum}}Launchpad website, see below:
                        <ol class="list-decimal space-y-2 pl-6">
                            <li>Go to <a href="https://launchpad.ethereum.org/en/validator-actions" target="_blank">https://launchpad.ethereum.org/en/validator-actions</a></li>
                            <li>Connect with your withdrawal wallet</li>
                            <li>Process action <code>Upgrade account to compounding</code>
                                <a href="/img/pages/guides/validator-actions/upgrade-ethereum-account-to-compounding.webp" target="_blank"><img src="/img/pages/guides/validator-actions/upgrade-ethereum-account-to-compounding.webp" alt="Upgrade Ethereum Account To Compounding" class="w-full"></a>
                                <ul class="list-disc my-4">
                                    <li>The upgrade to <code>0x02</code> wallet type requires confirmation of following:
                                        <a href="/img/pages/guides/validator-actions/upgrade-ethereum-account-to-compounding-confirm.webp" target="_blank"><img src="/img/pages/guides/validator-actions/upgrade-ethereum-account-to-compounding-confirm.webp" alt="Upgrade Ethereum Account To Compounding" class="w-full"></a>
                                    </li>
                                    <li>On confirming the request in your wallet, be sure you interacting with <a href="https://etherscan.io/address/0x0000BBdDc7CE488642fb579F8B00f3a590007251" target="_blank">0x0000BBdDc7CE488642fb579F8B00f3a590007251 (EIP-7251: Consolidation Request) contract</a></li>
                                </ul>
                            </li>
                        </ol>
                    {{/if}}
                    {{#if isGnosis}}Consolidation website, see below:
                        <ul class="list-disc my-4 pl-6 space-y-4">
                            <li>Consolidation website URL: <a href="https://consolidate.gnosischain.com/">https://consolidate.gnosischain.com/</a>
                                <p>NOTE: If you use Safe Wallet, you need to open it in Safe UI. To do so, open a Safe Wallet, go to <code>Apps</code>, witch to <code>My custom apps</code> tab and add it there through "Add custom Safe App" button, if the app was not added yet. Then, open the app. You should have opened a page with url like:
                                    <pre class="no-pseudo"><code>https://app.safe.global/apps/open?safe=gno:<mark>YourSafeWalletAddress</mark>&appUrl=https%3A%2F%2Fconsolidate.gnosischain.com</code></pre>
                                </p>
                            </li>
                            <li>Within a consolidation app, you see a dashboard with your pubkey indexes and Action box at bottom side. Here, you can select maximum consolidation balance of a pubkey.
                                <a href="/img/pages/guides/validator-actions/consolidation-gnosis-dashboard.webp" target="_blank"><img src="/img/pages/guides/validator-actions/consolidation-gnosis-dashboard.webp" alt="Consolidation Gnosis dashboard" class="w-full"></a>
                            </li>
                            <li>Next, you see an overview of the consolidation - which pubids will be consolidated into which pubids. On pressing <code>Consolidate batch</code> button, the consolidation will be processed-
                                <a href="/img/pages/guides/validator-actions/consolidate-gnosis-overview.webp" target="_blank"><img src="/img/pages/guides/validator-actions/consolidate-gnosis-overview.webp" alt="Consolidation Gnosis dashboard" class="w-full"></a>
                                <p>NOTE: If you see an error such as "Error submitting transactions" due to "An Unknown RPC Error occured. Details: Not connected to Ethereum network Version: viem@2.21.55", try a different HW wallet, such as Rabby, if you have the option.</p>
                            </li>
                            <li>
                                On processing the consolidation batch, consolidating pubkeys will switch to exiting state. Target pubkeys will get a new tab in the expolerer - <code>Consol.</code>
                                <p>Be patient - the target pubkey balance is not increased immediatelly with the exited pubkeys balances - there may be a queue. However the targeted pubkeys will get immediatelly 0x02 withdrawal wallet state, so they are compounding pubkeys now.</p>
                            </li>
                        </ul>
                    {{/if}}
                    </li>
                </ul>
            </section>
	</main>
</div>
{{> footer_tailwind}}
{{> scripts/tabselector}}