<pre><code>[Unit]
Description=Nimbus Beacon Consensus Client (Gnosis)
Wants=network-online.target
After=network-online.target

[Service]
User=<mark class="consensus_sn" data-client="nimbus">{{servicePrefix}}nimbusbeacon</mark>
Group=<mark class="consensus_sn" data-client="nimbus">{{servicePrefix}}nimbusbeacon</mark>
Type=simple
Restart=always
RestartSec=5
ExecStart=/usr/local/bin/nimbus-beacon \
  --network=gnosis \
  --data-dir=<mark class="consensus-dp" data-client="lighthouse" data-beacondir="true">/var/lib{{slashChain}}/nimbus/beacon</mark> \
  --web3-url=http://127.0.0.1:<mark class="execution-endpoint">8551</mark> \
  --rest \
  --tcp-port <mark class="consensus-p2p">9000</mark> \
  --udp-port <mark class="consensus-p2p">9000</mark> \
  --jwt-secret=/var/lib/jwtsecret/gnosis.hex

[Install]
WantedBy=multi-user.target</code></pre>
<p>See more flags at <a href="https://nimbus.guide/options.html" target="_blank" rel="nofollow noopener noreferrer">https://nimbus.guide/options.html</a></p>