<pre><code>[Unit]
Description=Teku Consensus Client (Gnosis chain)
Wants=network-online.target
After=network-online.target
[Service]
User=<mark class="consensus_sn" data-client="teku">{{servicePrefix}}tekubeacon</mark>
Group=<mark class="consensus_sn" data-client="teku">{{servicePrefix}}tekubeacon</mark>
Type=simple
Restart=always
RestartSec=5
Environment="JAVA_OPTS=-Xmx5g"
Environment="TEKU_OPTS=-XX:-HeapDumpOnOutOfMemoryError"
ExecStart=/usr/local/bin/teku/bin/teku \
  --network=gnosis \
  --data-path=<mark class="consensus-dp" data-client="teku">/var/lib{{slashChain}}/tekubeacon</mark> \
  --ee-endpoint=http://127.0.0.1:<mark class="execution-endpoint">8551</mark> \
  --ee-jwt-secret-file=/var/lib/jwtsecret/gnosis.hex \
  #--validators-proposer-default-fee-recipient=<mark>0x...</mark> \
  --checkpoint-sync-url=https://checkpoint.gnosischain.com \
  #--metrics-enabled=true \
  --rest-api-enabled=true
  
[Install]
WantedBy=multi-user.target</code></pre>
<p>See more arguments at <a href="https://docs.teku.consensys.io/reference/cli" target="_blank" rel="nofollow noopener noreferrer">https://docs.teku.consensys.io/reference/cli</a></p>
<p>Note: You can uncomment <code>checkpoint-sync-url</code> for a quick synchronization from a checpoint. After enabling it, verify, that you are on on the expected chain, see <a href="https://checkpoint.gnosischain.com/" target="_blank" rel="nofollow noopener noreferrer">https://checkpoint.gnosischain.com/</a> → Get started → Teku</p>