<pre class="no-pseudo"><code>[Unit]
Description=Lodestar Validator Instance (Gnosis Network)
Wants=network-online.target
After=network-online.target
[Service]
User=<mark class="instance_su" data-client="lodestar">{{servicePrefix}}lodestar-vi<span class="instance_pid" data-client="lodestar">1</span></mark>
Group=<mark class="instance_su" data-client="lodestar">{{servicePrefix}}lodestar-vi<span class="instance_pid" data-client="lodestar">1</span></mark>
Type=simple
Restart=always
RestartSec=5
WorkingDirectory=/usr/local/bin/lodestar
Environment="PATH=/home/<mark class="nodejsUser">nodejsusr</mark>/.nvm/versions/node/v<mark class="nodejsVer">{{consensusClients.lodestar.nodejsVer}}</mark>/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
ExecStart=/usr/local/bin/lodestar/lodestar validator \
  --network gnosis \
  --dataDir <mark class="instance_dp" data-client="lodestar">/var/lib{{slashChain}}/lodestar/validators/i<span class="instance_pid" data-client="lodestar">1</span></mark> \
  --suggestedFeeRecipient <mark class="instance_frw" data-client="lodestar">0xXXXXXXXXXXXXXXXX</mark> \
  --beaconNodes http://127.0.0.1:<mark class="consensus-endpoint">9596</mark> \
  --force \
  --graffiti "<mark class="ec_name">Nethermind</mark>+Lodestar"
[Install]
WantedBy=multi-user.target</code></pre>
<h4 class="mt-0 mb-0">Notes</h4>
<ul class="list-disc my-4">
  <li>All flags: <a href="https://chainsafe.github.io/lodestar/run/validator-management/validator-cli/" target="_blank">https://chainsafe.github.io/lodestar/run/validator-management/validator-cli/</a></li>
</ul>